<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.css">
    <!-- Link do CSS próprio -->
    <link rel="stylesheet" href="../static/style.css">
    
  </head>
  <body class="d-flex flex-column">
  
    <!-- Cabeçalho -->
     <div class="d-none d-md-block">
    {% include "header.html" %} 
    </div>
    <div class="d-none d-md-none">
      texto para celular
    </div>

    <!-- Corpo -->
    <main class=" flex-fill container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé -->
    {% include "footer.html" %}

    <!-- Scripts do Bootstrap -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>

