{% extends "base.html" %}

{% block title %}EmpreGO! - Painel da Empresa{% endblock %}

{% block content %}


<div class="titulosobre"><h1>EmpreGO!</h1></div>  

<div class="sobre">Somos uma empresa focada em garantir e facilitar a empregagem de novas pessoas no mercado de trabalho em Itapeva-SP e região!
    com nossos serviços você empreendedor poderá encontrar o melhor perfil para sua empresa e os melhores trabalhadores disponiveis no mercado de trabalho.
    E para você que quer entrar nesse mercado, oferecemos a forma mais rapida de empregagem, basta selecionar a vaga desejada, enviar o cúrriculo e esperar o feedback das empresas.
</div> <br><br>

<div class="aviso">Caso ocorra uma atualização de nossas póliticas ou mudanças no site, as modificaões serão postadas Aqui!:</div><br>

<div class="atualizacao">-Nenhuma modificação feita ainda.</div>
{% endblock %}